<!DOCTYPE html>
<html>
<head>
	<title>ParisImmo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<style>
		body{
			background-color: white;
		}
		.titre{
			padding-bottom: 3%;
		}
	</style>
</head>
<body>
<div class="titre" style="background-color:lightgray">
	<h2 class="display-2 text-center titreh2"> ParisImmo </h2>
	<h5 class="display-5 text-center"> La datascience au service de l'immobilier parisien </h5>    
</div>
<a href="http://localhost:5000/" class="btn btn-primary">Retour</a>



<div style="height:500px;width:700px;margin:auto">
<h5>Cartographie de paris des prix au mettre carre en fonction de la surface</h5>
{% include "map.html" %}
</div>

</body>
</html>

